
*.iml
*.gradle
local.properties
/.idea/*
/.idea/workspace.xml
/.idea/libraries/
*.DS_Store
.AppleDouble
.LSOverride
/build
/captures
.externalNativeBuild
.idea
/app/build
build/
/WebServicesFitUCAB/out/
/WebServicesFitUCAB/.idea/
*.*~