<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitucab.ds1617b.fitucab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES MODULO 1 NO MODIFICAR EL CONTENIDO INTERNO -->

        <activity
            android:name=".UI.Activities.M01LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <!-- FIN ACTIVITIES MODULO 1 -->

        <activity
            android:name=".UI.Activities.M05AddExerciseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activities.M05ReadExerciseActivity"
            android:label="Track Exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activities.M02HomeActivity"
            android:label="Fit UCAB"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".UI.Activities.M04NotificationActivity"
            android:label="Notificaciones">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>