*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.externalNativeBuild
.idea
/app/build
*.DS_Store
.AppleDouble
.LSOverride

/FitUCAB/.gradle
/FitUCAB/*.iml
/FitUCAB/local.properties
/FitUCAB/.idea/workspace.xml
/FitUCAB/.idea/libraries
/FitUCAB/.DS_Store
/FitUCAB/build
/FitUCAB/captures
/FitUCAB/.externalNativeBuild
/FitUCAB/.idea/*
/FitUCAB/app/build
/FitUCAB/gradle/
/FitUCAB/gradlew.bat
/FitUCAB/app/build/*
*.*~

/WebServicesFitUCAB/out/
/WebServicesFitUCAB/.idea/*
/WebServicesFitUCAB/*.xml

FitUCAB/\.directory

fitucab_maven/classes/*
fitucab_maven/target/*
*.log

fitucab_maven/out/artifacts/fitucab_war_exploded/

fitucab_maven/out/


fitucab_maven/target/
