*.iml
/FitUCAB/.gradle
local.properties
/FitUCAB/.idea/workspace.xml
/FitUCAB/.idea/libraries
/FitUCAB/.DS_Store
/FitUCAB/build
/FitUCAB/captures
/FitUCAB/.externalNativeBuild
/FitUCAB/.idea
/FitUCAB/app/build

/WebServicesFitUCAB/.idea/
/WebServicesFitUCAB/.idea/workspace.xml
